<div class="container">
<div class="row">

  <div class="col-sm-4" *ngFor="let product of products">
    <div class="card">
     <img src="{{ product.images[0] ?
                product.images[0].avatarUrl : '../../../../assets/notfound.png'}}"
       class="card-img-top image" alt="abcd">
        <div class="card-body">
          <h5 class="card-title">{{ product.name}}</h5>
          
          <a class="btn btn-primary" 
          [routerLink]="showProduct(product)">product Detail</a>
        </div>
    </div>
  </div>
</div>
</div>
