<div class="container">
<div class="row">

  <div class="col-sm-4" *ngFor="let subCategory of subCategories">
    <div class="card">
     <img src="{{subCategory.image?.avatar?.url || 'https://previews.123rf.com/images/martialred/martialred1608/martialred160800018/61263271-user-account-profile-circle-flat-icon-for-apps-and-websites.jpg'}}"
       class="card-img-top" alt="..."
      class="image" >
        <div class="card-body">
          <h5 class="card-title">{{subCategory.name}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a class="btn btn-primary" (click)="showProducts(subCategory)">products</a>
        </div>
    </div>
  </div>

 <!--  <div class="col-sm-4">
    <div class="card">
      <img src="https://image.freepik.com/free-photo/two-beautiful-women-shopping-town_1303-16426.jpg" class="card-img-top" alt="..."
      class="image">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="https://image.freepik.com/free-photo/two-beautiful-women-shopping-town_1303-16426.jpg" class="card-img-top" alt="..."
      class="image">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
 -->
</div>
</div>
