<div class="container" *ngIf="!auth.isLoggedIn()">
  <div class="row">
    <div class="col-md-3 bg-info" style="height: 40px;" >
      <span class=" text-primary" style="font-size: 20px;">Please Login</span>
    </div>
  </div>
</div>

<div class="container" *ngIf="auth.isLoggedIn()">
  <div class="row">
    <div class="col-md-3 bg-info" style="height: 40px;" >
      <span class=" text-primary" style="font-size: 20px;">Select a Division</span>
    </div>
    <div class="col-md-3" *ngFor="let division of divisions;let i = index">
      <label class="checkbox-inline" for="{{division.id}}">
           <input type="radio" [id]="division.id"
           [value]="division.name" name="radio-group"
           [checked]="i === 0" [(ngModel)]="selected_Division" />
           {{ division.description }}</label> 
    </div>
    <button class="btn btn-primary" (click)="setDivision()">ok</button>
  </div>
</div>

<!-- categery -->
<div class="container" *ngIf="division_clicked">
<div class="row">

  <div class="col-sm-4" *ngFor="let category of categories;let i=index">
    <div class="card" (click)="openSubCategory(category)">
      <img src="{{category.image?.avatar?.url || 'https://previews.123rf.com/images/martialred/martialred1608/martialred160800018/61263271-user-account-profile-circle-flat-icon-for-apps-and-websites.jpg'}}"
       class="card-img-top" alt="..."
      class="image" >
        <div class="card-body">
          <h5 class="card-title">{{category.name}}</h5> 
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a class="btn btn-primary" (click)="openSubCategory(category)">show more relavant item</a>
        </div>
    </div>
  </div>
</div>
</div>


